.btn-card{
    display:block;
    margin-top:15px;
    background:#25D366;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;
}

.btn-card:hover{
    transform:scale(1.03);
}

.card{
    width:320px;
    background:#111827;
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
}

.cards{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:18px;
    max-width:700px;
    margin:0 auto;
    padding:20px;
}

.btn-ajuda{
    width:100%;
    background:#111827;
    color:#ffffff;
    text-decoration:none;
    padding:20px;
    border-radius:15px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    border:1px solid #ff3434;
    transition:0.3s;
}

.btn-ajuda:hover{
    background:#ff3434;
    transform:scale(1.02);
}
